// Background colors

.color-transparent {
	background-color: transparent;
}

.color-white {
	background-color: white;
}

.color-red {
	background-color: red;
}

.color-yellow {
	background-color: yellow;
}

.color-green {
	background-color: lawngreen;
}

.color-blue {
	background-color: blue;
}

.color-purple {
	background-color: mediumpurple;
}

.color-cyan {
	background-color: cyan;
}

.color-magenta {
	background-color: magenta;
}

.color-brown {
	background-color: saddlebrown;
}

.color-orange {
	background-color: darkorange;
}

.color-gray {
	background-color: darkgray;
}

.color-black {
	background-color: black;
}

// Text colors

.text-invisible {
	color: transparent;
}

.text-white {
	color: white;
}

.text-red {
	color: red;
}

.text-yellow {
	color: yellow;
}

.text-green {
	color: forestgreen;
}

.text-blue {
	color: blue;
}

.text-purple {
	color: rebeccapurple;
}

.text-cyan {
	color: darkcyan;
}

.text-magenta {
	color: magenta;
}

.text-brown {
	color: saddlebrown;
}

.text-orange {
	color: darkorange;
}

.text-gray {
	color: dimgray;
}

.text-black {
	color: black;
}

// Border colors

.border-invisible {
	border-color: transparent;
}

.border-white {
	border-color: white;
}

.border-red {
	border-color: red;
}

.border-yellow {
	border-color: yellow;
}

.border-green {
	border-color: lawngreen;
}

.border-blue {
	border-color: blue;
}

.border-purple {
	border-color: darkviolet;
}

.border-cyan {
	border-color: cyan;
}

.border-magenta {
	border-color: magenta;
}

.border-brown {
	border-color: saddlebrown;
}

.border-orange {
	border-color: darkorange;
}

.border-gray {
	border-color: darkgray;
}

.border-black {
	border-color: black;
}