$BlockWidth: 9em;
$BlockMargin: 0.5em;
$FrameBorderWidth: 0.15em;
$FrameBorderDefaultColor: #555;
$FrameSpacing: 0.5em;

$ItemLineHeight: 1.2em;
$ItemBorder: solid #555 1px;
$ItemPadding: $ItemLineHeight / 5;
$ToggleButtonSize: 1em;

$IsSmartPhone: "only screen and (max-device-width: 399px)";
$IsPhablet: "only screen and (max-device-width: 799px)";

// Controller display box
terminal-controller
{
	display: inline-block;
	width: $BlockWidth;
	margin: $BlockMargin;
	vertical-align: top;

	@media #{$IsPhablet}
	{
		// Override absolute layouts - change to wrap-flowing for large phones and tablets
		position: static !important;
		display: inline-block !important;
		margin: $BlockMargin !important;
		width: $BlockWidth * 1.2;
	}

	@media #{$IsSmartPhone}
	{
		// Override absolute layouts - change to stacked for small phones
		display: block !important;
		width: auto !important;
		margin: $BlockMargin*2 $BlockMargin !important;
	}
}

.ctrl-frame
{
	position: relative;
	padding: $FrameSpacing;
	border: solid $FrameBorderDefaultColor $FrameBorderWidth;
	border-radius: $FrameSpacing;
	box-shadow: gray 0 0 0.3em;
	background-color: white;

	&:after
	{
		content: " ";
		display: block;
		position: absolute;
		top: $FrameSpacing + ($ItemLineHeight - $ToggleButtonSize)/2 + $ItemPadding;
		right: $FrameSpacing + ($ItemLineHeight - $ToggleButtonSize)/2 + $ItemPadding;
		width: 1em;
		height: 1em;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAC9ElEQVR4AaWSM5hdQRiG/8zaVp++CfrYNi5i27atLlwjQt+kS512bV5h9wr55vz33JPz7HQ733OE9x38I+I0tQhSt2mIoJREhPasbGqBQFKRNEpH0rR7ITVKgRoHlkGZSBaODE2Sohao8XRg2ZRDeZSL5ECToSmEUqDAswDlUyFSRAXQSEW6SiEUeIaGFwAufr/z3iUqoWI86QphZoQSzwVQRKV1ljPHrm14dJoVeJstl9SsEAqcB1/cuOnoHgeF6dKKp0cgKDIUPBEdU+NFTesO2hyEBsX5xc/2410BvrAilfcGg8RbBl4DL2xcc8Di1HBWnFv4bK+h4Irw5oIHSTGtfEFDEp8ftA0nFIue7oGAFVm8MyStbxpZ9VzG69cetLgSeNPzj6/sA/pEnu7VFfg7kxXGpsljvC6JzwvU3y7uI9eH+9ZeswLJAyHLmiYAo2w6XrvmkMXNvQfqL5V10Sgy9umqpWeSIl/bGZkiOXTGrTpefaa8E/AIMkqO6nOWbkPBf/MOFRJnp8Q9On6yqoscNAYYwdVVfeY/xW4q0GsiBXlIfu2qQxbGFwSqT1R1kxMCGScHitOG4tkuwDJ5gnJkapcb+CfGXeQhL/lweHHnQtyG4uyiR3Ym5SJmVC/XB7/Y+ek4Bo+fyQN4nCYogMOPe0igOLW9i9AidHHxQztYLGLqu2VH7IwvcrQcTuBewAEKURgJUQAKLytqTm7rZMWlJfftlCoo9mtFEt+bO8w4AIlHKIpEIAlCyApX7ZFtHaz4Ppdigiaqdy0YxdxHmy15Q+Q0cKAximuJmhTO2j1b2ohmjtfuoglB/vyxpvWHfjetyx/kucvBA2BcNrPCLRX12w//ebNrehf5hLQWjbw+UDREbp67GZ+k4OV0vto1+6/8X/DyaJFDn6CgGVcqpMTNZRZ44UdQMiRgxhWKCIWkBAGDY1xQAEG1kRASMeNqBcLMhFzEEBKWB8NK3FDEEC4sM2HBr3AwaoaVEl3DETTFNmXBP0T/wjByNvX9AAAAAElFTkSuQmCC') /*../../images/arrow_up.png*/;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		cursor: pointer;
	}

	&.ctrl-collapsed:after
	{
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAC/0lEQVR4Aa2VA7BdSRCGe89ce6XYtm27EBuF2Nk4z1YhtlOKbdtYKVmWn3Gl7pk7z9L8dTzfN33MfBBUpbAgqFqrBoECnwFNFOBT6Y36CYaHBWmB8ShSUyosMEGoaI0FmXBFjZNKKkodm0DqrcEQp2ZBX9AGJk9RGk6QBnSgpQjBd7hJOzS4yQICXwm4GvvpeQwYYlBQD/Qp1tXx3Z/qFVIIAaZYHDEjxgSmxdu/+ljTToJG6bYJx080fzl67HUtdVMIpxSLm0Wm7N/X+vWIAXe+cLGgZhP3X/wW4E/Dq+Fjb6FC4ZBPTEVwC1jBMm37sQYA/6ufDp93igU1zlJud3QAwB/6l4PG3dUILK8GpQBuA+u0pKP1AZsKFlzp9RKvQYdPNR032wnFqwEDn5sd+QRydKPEp8cfrSfw8Es/7AMHC6oBSttPte032hL3u/7toEGPuUI+OCo+ukngM+KP1BV4xOU1ByAbcljQl9SxzV9S8aeKK5wI8/LpxiFupcyIO1yHcDXEXFl5ALIoLMgsLlibj7UdUvFm0ODHZhc9NvTQUPkF8ajLK/ZBBoUEWvCAF3yo+DOfYuDgp2Y3qBEX5ZtnxOTD90A6JgMyIZsFMS6gCbAK502pGDDspRFAzwWmGeH58F2QRjiND3YWBAHcF1C4ZBWv+g5/a2T07M3ceLh2QRyTCTlgBycJCBWTDy/nxzqum23tAPBR9arnqB/1yuzlB2vmxzESd4FbCAjnAlK0/lgXq7DzKl52vtn24HfF4g5wU+UkIIXQSMWnengthOKNUeDRV1bsLoxT76ICCrRChagigF9dvgtSA3g2OCUOQIIiCkqrP+s6brXLkcXvRLgg7i38VS6s8Lb6rVb27Y5uCD+3ahuihGdx3IWwwKWgiII6eMDV5sev0zv/80MSZCBMdz2nMC4FxVXhxjjbv+l9D8FMDtupeIGXIMhTUAUkwNgDcYBLnnthQekKF6IOvvQIvGRBYQUBJKEImI6ULRAK8XgLUD6nFf25+vKlxOYHm6XJcdO3T/kAAAAASUVORK5CYII=') /*../../images/arrow_down.png*/;
	}

	@media #{$IsPhablet}
	{
		// Override absolute layouts, reset width/size/margins etc.
		margin: auto !important;
		padding: $FrameSpacing*2/3 !important;
		width: auto !important;
		max-width: 13em !important;
		font-size: 100% !important;
	}
}

.ctrl-item
{
	position: relative;
	display: block;
	padding: $ItemPadding $ItemPadding*1.7;
	border-top: $ItemBorder;
	border-left: $ItemBorder;
	border-right: $ItemBorder;
	background-color: white;
	color: black;
	text-align: center;
	height: $ItemLineHeight;
	line-height: $ItemLineHeight;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;

	&.ctrl-item-separator
	{
		margin: 0;
		padding: 0;
		height: 0;
	}
}

// Display line item with a min/max bar
.ctrl-item-min-max-bar
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: cadetblue;
	border-right: $ItemBorder;
}

.ctrl-item-min-max
{
	position: relative;
	text-shadow: 0 0 0.2em white;
}
